body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
}

.card {
    background: #d18f00;
    padding: 10px 20px;
    margin: 10px;
}

.card h2 {
    text-align: center;
}